@import 'reset.css';
@import 'variables.css';

body {
  background-color: var(--color-oxford-blue);
  color: #f6f6f6;
  font-family: var(--fonte-secundaria);
}

a {
  text-decoration: none;
}

header{
  padding: 2% 0 0 13%;
}

.header__menu {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-amethyst);
  display: flex;
  gap: 80px;
}


.header__menu a{
  color: var(--color-amethyst);
}

.container {
  padding: 5% 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 82px;
}

.container__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container__content__title {
  font-family: var(--fonte-primaria);
  font-size: 2.25rem;
}

.container__content__text {
  font-size: 1.5rem;
}

.titulo-destaque {
  color: var(--color-amethyst);
}

.container__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.container__links__subtitle {
  font-family: var(--fonte-primaria);
  font-weight: 600;
  font-size: 2.25rem;
}

.container__links a {
  width: 50%;
  padding: 21.5px 0;
  border: 2px solid var(--color-amethyst);
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #f6f6f6;
}

.container__links a:hover {
  transition: 0.5s;
  transform: scale(1.05);
  background-color: var(--color-skobeloff);
}

.container__imagem{
  width: 50%;
}

footer {
  padding: 24px;
  background-color: var(--color-amethyst);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  header{
    padding: 10%;
  }

  .header__menu{
    justify-content: center;
  }

  .container{
    flex-direction: column-reverse;
    padding: 7%;
  }

  .container__content {
    width: auto;
  }

  .container__links__subtitle {
    text-align: center;
  }

  .container__links a {
    width: 80%;
  }
}


